.topbar
  .global-nav
    .global-nav-inner
      .container
        .global-menu-wrapper
          %p.topbar-logo
            = link_to root_path do
              = image_tag 'favicon.png'
        .global-menu
          %ul
            %li.global-menu-icon
              = link_to root_path do
                = fa_icon 'home'
                %p HOME
            %li.global-menu-icon
              = link_to root_path do
                = fa_icon 'comment-o'
                %p メッセージ
        .global-menu-right
          %ul
            %li.global-menu-icon
              = link_to root_path do
                = fa_icon 'bell-o'
                %p 通知
            %li.global-menu-icon
              = link_to root_path do
                = fa_icon 'cog'
                %p 設定
