= render partial: "/share/topbar"
.content
  = render partial: "/share/dashbord"
  .content-main
    = render partial: "/share/contribute"
    %ul.content-trending
      .content-trending-icon
        = image_tag "alissa_miki"
      %li.content-trending-name
        Alissa Mikis
        .content-trending-time
          1分前
      %li.content-trending-group
        投稿先：
        .content-trending-group-name
          家族
      .content-trending-message
        親と喧嘩したんだけど、どうやって仲直りすればいいと思う？
        %br みんなはどうやって仲直りしてる？
      .content-footer
        .content-footer-heart
          = fa_icon "heart-o"
          16
        .content-footer-message
          = fa_icon "comment-o"
          2
    %ul.content-trending
      .content-trending-icon
        = image_tag "member_photo"
      %li.content-trending-name
        Tatsuya Miki
        .content-trending-time
          1分前
      %li.content-trending-group
        投稿先：
        .content-trending-group-name
          転職
      .content-trending-message
        転職を考えてるんだけど、決定打がなくてなかなか決められない
        %br みんなどうやって決めてるのかな？
      .content-footer
        .content-footer-heart
          = fa_icon "heart-o"
          16
        .content-footer-message
          = fa_icon "comment-o"
          2
    %ul.content-trending
      .content-trending-icon
        = image_tag "member_photo"
      %li.content-trending-name
        Tatsuya Miki
        .content-trending-time
          1分前
      %li.content-trending-group
        投稿先：
        .content-trending-group-name
          転職
      .content-trending-message
        転職を考えてるんだけど、決定打がなくてなかなか決められない
        %br みんなどうやって決めてるのかな？
      .content-footer
        .content-footer-heart
          = fa_icon "heart-o"
          16
        .content-footer-message
          = fa_icon "comment-o"
          2

    %ul.content-trending
      .content-trending-icon
        = image_tag "member_photo"
      %li.content-trending-name
        Tatsuya Miki
        .content-trending-time
          1分前
      %li.content-trending-group
        投稿先：
        .content-trending-group-name
          転職
      .content-trending-message
        転職を考えてるんだけど、決定打がなくてなかなか決められない
        %br みんなどうやって決めてるのかな？
      .content-footer
        .content-footer-heart
          = fa_icon "heart-o"
          16
        .content-footer-message
          = fa_icon "comment-o"
          2

    %ul.content-trending
      .content-trending-icon
        = image_tag "member_photo"
      %li.content-trending-name
        Tatsuya Miki
        .content-trending-time
          1分前
      %li.content-trending-group
        投稿先：
        .content-trending-group-name
          転職
      .content-trending-message
        転職を考えてるんだけど、決定打がなくてなかなか決められない
        %br みんなどうやって決めてるのかな？
      .content-footer
        .content-footer-heart
          = fa_icon "heart-o"
          16
        .content-footer-message
          = fa_icon "comment-o"
          2

    %ul.content-trending
      .content-trending-icon
        = image_tag "member_photo"
      %li.content-trending-name
        Tatsuya Miki
        .content-trending-time
          1分前
      %li.content-trending-group
        投稿先：
        .content-trending-group-name
          転職
      .content-trending-message
        転職を考えてるんだけど、決定打がなくてなかなか決められない
        %br みんなどうやって決めてるのかな？
      .content-footer
        .content-footer-heart
          = fa_icon "heart-o"
          16
        .content-footer-message
          = fa_icon "comment-o"
          2

    %ul.content-trending
      .content-trending-icon
        = image_tag "member_photo"
      %li.content-trending-name
        Tatsuya Miki
        .content-trending-time
          1分前
      %li.content-trending-group
        投稿先：
        .content-trending-group-name
          転職
      .content-trending-message
        転職を考えてるんだけど、決定打がなくてなかなか決められない
        %br みんなどうやって決めてるのかな？
      .content-footer
        .content-footer-heart
          = fa_icon "heart-o"
          16
        .content-footer-message
          = fa_icon "comment-o"
          2

    %ul.content-trending
      .content-trending-icon
        = image_tag "member_photo"
      %li.content-trending-name
        Tatsuya Miki
        .content-trending-time
          1分前
      %li.content-trending-group
        投稿先：
        .content-trending-group-name
          転職
      .content-trending-message
        転職を考えてるんだけど、決定打がなくてなかなか決められない
        %br みんなどうやって決めてるのかな？
      .content-footer
        .content-footer-heart
          = fa_icon "heart-o"
          16
        .content-footer-message
          = fa_icon "comment-o"
          2

